/* COMMON CSS START */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
img{
    vertical-align: middle;
}

/* common css end */
/* nav part start */
nav{
    width: 100%;
    background-color: #e74d58;
    height: 50px;
}
.container{
    width: 1171px;
    margin: 0 auto;

}
.nav-main{
    width: 100%;
    display: flex;
}
.nav-one{
    width: 50%;
    display: flex;
}
.nav-one h1{
    padding-top: 12px;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.nav-one h3{
    padding-top: 14px;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.nav-one i{
    color: white;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 10px;
}
.nav-two{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-two i{
    padding-right: 20px;
    color: white;
}

button{
    padding: 15.8px;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #002e5b;
    border: transparent;
    cursor: pointer;

}
/* nav mart end */
/* menu part start */
#menu{
    width: 100%;
    height: 100px;
    box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
-webkit-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
-moz-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
}
.menu-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.menu-logo img{
    padding-top: 25px;
}
.menu-text{
    display: flex;
}
.menu-text ul{
    display: flex;
    padding-top: 35px;
}
.menu-text ul li{
    padding-right: 70px;
}
.menu-text ul li a{
    color: #002e5b;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.menu-text i{
    padding-top: 35px;
    padding-right: 15px;
    font-size: 30px;
    color: #e74d58;
}
.menu-text h1{
    padding-top: 25px;
    color: #e74d58;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
/* menu part end */
/* banner part start */
#banner{
    width: 100%;
    height: 640px;

}
.banner-main{
    width: 100%;
    height: 100%;
    display: flex;
}
.banner-one{
    width: 50%;
    height: 100%;
    z-index: 1;
}
.banner-text{
    display: flex;
    padding-top: 120px;
    
}
.banner-one h2{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 15px 0;
}
.banner-one h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 1000px;
    color: #e74d58;
}
.banner-one span{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.banner-one p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #d2d8df;
    padding-top: 15px;
}
.btn{
    width: 635px;
    height: 81px;
    margin-left: auto;
    border: 2px solid transparent;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -webkit-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    padding-top: 7px;
padding-bottom: 7px;
margin-top: 47px;
}
.btn input{
    border-radius: 50px;
    padding-right: 270px;
    border: transparent;
    background-color: white;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.btn button{
    margin-top: 3px;
    border-radius: 50px;
    padding: 20px 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #e74d58;
    margin-left: -17px;
}
.banner-text h5{
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #999999;
}
.banner-two{
    width: 50%;
    height: 100%;
    padding-top: 40px;
}
.banner-two img{
    width: 100%;
}

/* banner part end */
/* about part start */
#about{
    width: 100%;
    height: 570px;
    background-color: #002e5b ;
}
.about-main{
    display: flex;
    width: 100%;
    height: 100%;
}
.about-one{
    width: 54%;
}
.about-one h4{
    padding-bottom: 10px;
    padding-top: 115px;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.about-one h1{
    color: white;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 5px 0;
}
.you{
    margin-top: 47px;
    width: 413px;
    height: 130px;
    background-color: #001f3e;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.you h6{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}
.you i{
    font-size: 40px;
    color: #e74d58;
    cursor: pointer;
}
.about-one span{
    color: white;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.about-two{
    width: 46%;
    height: 100%;
}
.about-two p{
    padding-top: 115px;
    color: #7994ad;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 450px;
    padding-left: 30px;
}
.about-two h5{
    padding-top: 20px;
    color: #7994ad;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 450px;
    padding-left: 30px;
}
.about-two h3{
    padding-top: 20px;
    color: #7994ad;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 450px;
    padding-left: 30px;
}
.about-two h1{
    padding-top: 20px;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 30px;
}
/* trading part start */
#trading{
    width: 100%;
    height: 480px;
    background-color: #7994ad;
    background: url(../images/trading.webp);
    background-repeat: no-repeat;
    background-position: right;
}
.trading-main{
    width: 50%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.596); 
    margin-top: 80px;
}
.trading-one{
    width: 100%;
    display: flex;
}
.trading-text p{
    width: 70%;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.trading-icon{
    padding-left: 30px;
    padding-top: 40px;

}
.trading-text h1{
    padding-left: 20px;
    padding-top: 30px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
}
.t-a{
    display: flex;
    width: 100%;
}
/* trading part end */
/* count part start */
#count{
    width: 100%;
    height: 186px;
    background-color: #002e5b;
}
.count-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.count-one h1{
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.count-one p{
    color: #999999;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.count-one span{
    font-size: 20px;
}
/* count part end */
/* APPROACH PART START */
.approach-text{
    text-align: center;
    padding-top: 100px;
}
.approach-text p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #e74d58;
    padding-bottom: 15px;
}
.approach-text h1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #002e5b;
}
.approach-text span{
    font-weight: 100;

}
.a-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.a-one{
    width: 32%;
    text-align: left;
    padding-top: 40px;
}
.a-one img{
    width: 100%;
}
.a-one p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #a1a1a1;
    padding-top: 10px;
}
.a-one h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding-bottom: 5px;
}
.a-one h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding-bottom: 50px;
    position: relative;
}
.a-one h2::after{
    position: absolute;
    content: '';
    bottom: 21px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #a1a1a1;
}
.a-one span{
    font-weight: 100;
}
.a-one h5{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #a1a1a1;
}
/* a part end */
/* support part start */
#support{
    background: url(../images/banner\ 1.jpg) no-repeat center / cover;
    width: 100%;
    height: 700px;
    margin-top: 80px;
    padding-top: 136px;
}        
.s-text h5{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #002e5b;
}
.s-text h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding-top: 15px;
}
.s-text span{
    font-weight: 300;
}
.s-text p{
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e74d58;
    padding-top: 10px;
}
.s-text button{
    margin-top: 30px;
    padding: 20px 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: 0.4s;
}
.s-text button:hover{
    background-color: #e74d58;
    color: #002e5b;
    border: 2px solid transparent;
}
/* support part end */
/* team part start */
#team{
    width: 100%;
}
.t-text{
    text-align: center;
    margin-top: 80px;
}
.t-text h4{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #e74d58;
    padding-bottom: 15px;
   
}
.t-text h3{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding-bottom: 40px;
}
.t-text span{
    font-weight: 200;
}
.team-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.team-inner{
    width: 23%;
}
.team-images{
    position: relative;
   
}
.team-images img{
    width: 100%;
    
}
.team-images img:hover{
    box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -webkit-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);

}
.overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    opacity: 0;
    transition: 0.4s;
    height: 0;

}
.overlay i{
    display: block;
    font-size: 30px;
    color: white;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    color: black;
    background-color: white;
}
.overlay i:hover{
    background-color: #e74d58;
    color: white;
    border: 2px solid transparent;
}

.team-images:hover .overlay{
    opacity: 1;
    height: 200px;
    padding-bottom: 30px;
    box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -webkit-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
}
.team-text h3{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #e74d58;
    padding-top: 20px;
}
.team-text h2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}
.team-text h2::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #999999;
    bottom: 0;
    left: 0;
}
.team-text p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    padding-top: 10px;
}
.team-text span{
    font-weight: 200;
}

/* team part end */
/* company part start */
#company{
    width: 100%;
    background-color: #002e5b;
    height: 190px;
    margin-top: 60px;
}
.company-main{
    width: 100%;
    height: 100%;
   
}
.c-images{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;

}
/* company part end */
/* feature part start */
#feature{
    width: 100%;
    height: 590px;
    margin-top: 80px;
}
.feature-main{
    width: 100%;
    height: 100%;
    display: flex;
}
.feature-image{
    width: 40%;
}
.feature-image img{
    width: 100%;
    box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -webkit-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
}
.f-inner{
    display: flex;
    padding-top: 40px;
}
.f-text{
    padding-left: 41px;
}
.feature-text{
    padding-left: 104px;
}
.feature-text h5{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #e74d58;
}
.feature-text h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding-top: 10px;
}
.feature-text span{
    font-weight: 200;
}
.f-text h3{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #002e5b;
    padding: 20px 0;
}
.f-text span{
    font-weight: 200;
}
.f-text p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    width: 351px;
 
}
.f-icon{
    padding-top: 30px;
}
.f-icon img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -webkit-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
    -moz-box-shadow: -2px -1px 5px 3px rgba(0,0,0,0.28);
}
/* feature part end */
/* subscribe */
#subscribe{
    width: 100%;
    height: 406px;
    margin-top: 80px;
}
.su-main{
    width: 100%;
    height: 100%;
    display: flex;
}
.su-text{
    width: 60%;
    height: 406px;
    background-color: #002e5b;
    position: relative;
 
}
.su-text h5{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #e74d58;
    padding-bottom: 15px;
    padding-top: 80px;
    padding-left: 80px;
}
.su-text h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 10px;
    padding-left: 80px;
  
}
.su-text h2{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    padding-left: 80px;
}
.su-image{
    width: 40%;
    height: 406px;
}
.su-image img{
    width: 100%;
    height: 100%;
}
.su-text input{
    margin-left: 80px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 100px;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #073765;
    border: 2px solid transparent;
}
.su-text button{
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 16px;
    background-color: #e74d58;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: -53px;
}
.s-inner{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
}
/* sub part end */

/* footer part start */
#footer{
    background-color: #073765;
    width: 100%;
    height: 460px;
}
.footer-main{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 50px;
}
.footerone{
    width: 30%;
    padding-top: 100px;
}
.footerone p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #62819e;
    padding-top: 30px;

}
.f-call{
    display: flex;
    padding-top: 40px;
}
.footer-t{
    padding-left: 20px;
}
.footer-t h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}
.footer-t p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    padding-top: 0;
}
.footer-icon{
    padding-top: 16px;
}
.footer-icon i{
    font-size: 30px;
    color: #e74d58;
}
.footertwo{
    width: 20%;
    padding-top: 100px;
    padding-left: 50px;
}
.footertwo h1{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    padding-bottom: 25px;
}
.footertwo p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #62819e;
    padding: 10px 0;
}
.footerthree{
    width: 20%;
    padding-top: 100px;
    padding-left: 50px;
}
.footerthree h1{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    padding-bottom: 25px;
}
.footerthree p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #62819e;
    padding: 10px 0;
}
.footerfour{
    width: 30%;
    padding-top: 100px;
    padding-left: 50px;
}
.footerfour h1{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    padding-bottom: 25px;
}
.footer-a{
    display: flex;
}
.footer-ai{
    padding-bottom: 20px;
}
.footer-ai i{
    font-size: 20px;
    color: white;
    padding-top: 10px;
}
.footer-aa p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #62819e;
    padding-left: 20px;
    width: 200px;
    padding-top: 5px;
}
.footer-aa{
    padding-bottom: 20px;
}
.footer-app{
    padding-top: 10px;
}
.footer-app i{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
    color: #62819e;
    border: 2px solid #62819e;
}
.footer-app i:hover{
    background-color: #17519d;
    color: white;
}

/* footer part end */
/* copyright part start */
#copyright{
    width: 100%;
    height: 80px;
    background-color: #00264c;
}
.copy-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.copy-text{
    padding-top: 30px;

}
.copy-text h4{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}
.copy-text span{
    font-weight: 200;
}
.copy{
    display: flex;
    padding-top: 30px;
}
.copy p{
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;

}
/* copyright part end */